.cardContainer{
    border: 2px solid #e3f0ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.name{
    font-size: 15px;
}

.flagImg{
    width: 60px;
    height: 40px;
}

.infoContainer{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    
}

h5{
    height: 5px;
}